<h1 class="display-4 text-primary">読書記録</h1>
<p>登録データ一覧</p>
<table class="table">
    <tr>
        <th>ID</th><th>題名</th><th>投稿日</th><th colspan="2"></th>
    </tr>
    <% @cards.each do |obj| %>
    <tr>
        <td width="35px"><%= obj.id %></td>
        <td width="50%"><a href="/cards/<%= obj.id %>">
            <%= obj.title %></a></td>
        <td><%= obj.day %></td>
        <td width="80px"><a href="/cards/edit/<%= obj.id %>">編集</a></td>
        <td width="80px">
        <a href="javascript:delData(<%= (obj.id.to_s + ",'".to_s + 
        obj.title.to_s).html_safe %>');">削除</a></td>
    </tr>
    <% end %>
</table>
<p><a href="/cards/add">新しいデータを作る　&gt;&gt;</a></p>
<script>
function delData(id,title){
    if (confirm('「'+ title +'」のデータを消去しますか')){
        document.location = "/cards/delete/" + id;
    }
}
</script>
